<div class="form-group">
    <label for="password">Password:</label>
    <br>
    <br>
    
    gridOfRandomImsges.forEach(function(row){
        <div class="row no-gutters">

        row.forEach(function(col){
            <div class="col-2 no-gutters">
                <img src='<%= col %>.svg' alt=" img" style="
                    height: 50px;
                    width: 50px;" >
            </div>
        })
    </div>
    <div style="padding-bottom: 15px;"></div>
    })
        
    
    
</div>