* {
  /* border: 1px solid red; */
}

body {
  /* background-color: #f9f5eb; */
  /* background-color: #9285a6; */

  background-color: rgb(255, 243, 206);
  /* background-color: white; */
  background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
  background-size: 25px 25px;
}

.card {
  background-color: #eae3d2;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  box-shadow: 4px 7px 20px 1px rgba(0, 0, 0, 0.3);
  padding: 15px 40px;
  min-width: 350px;
}

.form-control {
  border-radius: 15px;
}

.row {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  margin: 2px;
}

.visiblock {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.line {
  height: 2px;
  width: 35%;
  align-self: center;
  background-color: black;
}

.visibility,
.visibility1 {
  height: 40px;
  width: 40px;
}

.hidden {
  display: none;
}

.mb4 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 15px;
}

.col-2 {
  padding-left: 0px;
}

.btn {
  float: right;
  width: 100%;
}

.reset {
  text-align: right;
}

.foot {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.num {
  position: absolute;
  background-color: rgb(122, 229, 122);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
  font-size: 12px;
}

.radio-toolbar input[type="radio"] {
  display: none;
}

.radio-toolbar label {
  display: inline-block;
  /* padding: 4px 11px; */
  font-family: Arial;
  font-size: 16px;
  cursor: pointer;
  width: 50px;
  text-align: center;
  border-radius: 30px;
  /* background-color: #1c3879; */
  color: white;
  cursor: grab;
}

.bucket {
  width: 50px;
}

.radio-toolbar input[type="radio"]:checked + label img{
  /* background-color: #3355a5; */
  /* font-size: 60px; */
  width: 60px;
}

.div-btn {
  height: 25px;
  width: 25px;
  border-radius: 100px;
}

.image-border {
  border: 4px solid orange;
  border-radius: 100%;
}

.hide-image-border {
  border: none;
}

.inp {
  width: 50%;
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  color: rgb(0, 0, 0);
  margin: 0 2px;
  align-self: center;
}

.digit-group {
  width: 100%;
  align-self: center;
  display: flex;
  flex-flow: column wrap;
}

.card1 {
  /* width: 500px; */
  margin-top: 10%;
  background-color: #eae3d2;
  border-radius: 30px;
  box-shadow: 4px 7px 20px 1px rgba(0, 0, 0, 0.3);
  padding: 15px 40px;
  display: flex;
  flex-flow: column wrap;
}

.resend {
  align-self: flex-end;
  padding: 2px 15px;
  background-color: #0d6efd;
  margin-top: 8px;
  border-radius: 10px;
  color: white;
}